.dynamiskHeader {
    color: pink;
    animation: fadeIn 1s ease-out forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(22px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}